@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;900&display=swap');

.outer-div{
    position: relative;
    height: 480px;
    width: 640px;
}
  
.canvas-wrapper{
    position: absolute;
}
  
.webcam-wrapper{
    position: absolute;
}

.bg-gradient1 span,
.bg-gradient1:before {
  background: #fffb64;
  /*background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);*/
}



.bg-gradient3 span,
.bg-gradient3:before {
  background: #fffb64;
}

/* General */
.wrapper {
  margin: 5% auto;
  text-align: center;
  transform-style: perserve-3d;
  perspecive: 800px;
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

/* fancy Button */
.fancy-button {
  display: inline-block;
  margin: 10px; /* WILL BE UPDATED */
  font-family: "Jost", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4f464b;
  position: relative;
}
.fancy-button:before {
  content: "";
  display: inline-block;
  height: 30px;
  position: absolute;
  bottom: -5px;
  left: 20px;
  right: 20px;
  z-index: -1;
  border-radius: 30em;
  filter: blur(20px) brightness(0.95);
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}
.fancy-button i {
  margin-top: -1px;
  margin-right: 10px;
  font-size: 1.265em;
  vertical-align: middle;
}
.fancy-button img {
	position: relative;
   margin-top: -3px;
	margin-right: 10px;
   top:0;
	left:0;
	height: 16px;
   width: 16px;
}
.fancy-button span {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}
.fancy-button:focus, .fancy-button:active {
  color: #4f464b;
}
.fancy-button:hover {
  color: #4f464b;
}
.fancy-button:hover span {
  filter: brightness(1.05) contrast(1.05);
  transform: scale(0.95);
}
.fancy-button:hover:before {
  bottom: 0;
  filter: blur(10px) brightness(0.95);
}
.fancy-button.pop-onhover:before {
  opacity: 0;
  bottom: 10px;
}
.fancy-button.pop-onhover:hover:before {
  bottom: -7px;
  opacity: 1;
  filter: blur(20px);
}
.fancy-button.pop-onhover:hover span {
  transform: scale(1.04);
}
.fancy-button.pop-onhover:hover:active span {
  filter: brightness(1) contrast(1);
  transform: scale(1);
  transition: all 0.15s ease-out;
}
.fancy-button.pop-onhover:hover:active:before {
  bottom: 0;
  filter: blur(10px) brightness(0.95);
  transition: all 0.2s ease-out;
}